# .clangd
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -x
    - c-header
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -x
    - c
---
CompileFlags:
  Compiler: arm-none-eabi-gcc
  BuiltinHeaders: QueryDriver
  Remove:
    - --gcc-toolchain=*
    - --target=*
  Add:
    - -std=c11
    - -I.
    - -ILibraries
    - -mcpu=cortex-m3
    - -mthumb
    - -ffreestanding
